.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header{
  flex: 15%;
  background-color: yellow;
}
.menu{
  flex: 5%;
  background-color: lightgreen;
}
.content{
  flex: 70%;
  background-color: blue;
}
.footer{
  flex: 10%;
  background-color: green;
}
h1 { 
color: red;
  text-align: centers;
}
td {
  text-align: center;
}
.tieude {
  color: tomato;
  font-size: 25pt;
  top-margin: 18pt;
}
.noidung {
  color: black;
  font-size: 15pt;
  top-margin: 6pt;
}
