.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header{
  flex: 15%;
  background-color: ivory;
}
.menu{
  flex: 5%
  background-color: peachpuff;
}
.content{
  flex: 70%
  background-color: seashell;
}
.footer{
  flex: 10%
  background-color: saddlebrown;
}
h1 { 
color: red;
  text-align: centers;
}
td {
  text-align: center;
}
.tieude {
  color: tomato;
  font-size: 25pt;
  top-margin: 18pt;
}
.noidung {
  color: black;
  font-size: 15pt;
  top-margin: 6pt;
}
